html, body {

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

body {

  background-image: url("sfondo.png");
  background-position: center;

  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;


}
